@font-face {
    font-family: "Raleway";
    src: url("./Raleway/Raleway-VariableFont_wght.ttf");
    font-weight: 100 1000;
}

/* header */
body,
html {
    color: black;
    margin: auto;
    font-family: "Raleway", sans-serif;
    max-width: 1430px;
    position: relative;
}

a:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

header .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

header li {
    list-style: none;
}

#container {
    max-width: 95%;
    margin: 0 auto;
}

.logo {
    padding-top: 10px;
}

.header-top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 35px;
    margin-bottom: 35px;
}

.header-top .menu {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-decoration: none;
}

.header-top .menu a {
    text-decoration: none;
    padding-top: 53px;
    margin-right: 50px;
    font-size: 16px;
}

.header-top .menu a:hover {
    border-top: 2px solid #0065fc;
    transition: 0.2s;
    color: #0065fc;
}

.inscription {
    color: #0065fc;
    font-weight: bolder;
}


/* header-titre */

.titre {
    margin-bottom: 15px;
}

.titre p {
    margin-top: 8px;
    font-size: 14px;
}

.titre h1 {
    font-size: 22px;
}


/* header-search */

.recherche {
    display: flex;
}

.form-btn {
    display: flex;
}

.recherche input {
    border: none;
    padding: 0 10px 0 10px;
    width: 150px;
}
.icone-localisation {
    padding: 10px;
    padding-left: 10px;
    background-color: #f2f2f2;
    border-radius: 10px 0px 0px 10px;
    width: 30px;
    height: 30px;
    font-size: 18px;
}

.fa-map-marker-alt{
    padding-top: 5px;
    padding-left: 10px;
}

.recherche input {
    height: 50px;
    border: none;
    padding: 0 10px 0 10px;
}

input.btn-search{
    width: 200px;
    border: 1px solid #f2f2f2;
}

.icon-search {
    display: none;
    position: absolute;
    left: 208px;
    opacity: 1;
    color: white;
    padding: 12px ;
    background-color: #0065fc;
    border-radius: 0 10px 10px 0;
}

.btn-search {
    font-size: 18px;
    cursor: pointer;
    font-weight: bolder;
}

.btn-reset {
    font-size: 18px;
    color: white;
    font-weight: bolder;
    background-color: #0065fc;
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;
}


/* header-filtre */

.filtres {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 25px 0 20px 10px;
}

.filtres h3 {
    margin-right: 50px;
    font-size: 18px;
    font-weight: bolder;
}

.filtres-texte {
    font-size: 18px;
    font-weight: bolder;
}

.filtres-selection {
    height: 50px;
    border: 2px solid #d4d4d4;
    border-radius: 30px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px 0 0;
}

.filtres-selection:hover {
    cursor: pointer;
    background-color: #deebff;
}

.filtres-selection:hover i {
    background-color: #0065fc;
    color: white;
}

.filtres-icons {
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #0065fc;
    background-color: #deebff;
    margin-left: -2px;
    font-size: 18px;
}

.filtres-selection i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtres-texte {
    padding: 0 5px;
}


/* header-banniere */

.header-banniere {
    display: flex;
    align-items: center;
    font-size: 60%;
    margin-bottom: 25px;
}

.header-banniere i {
    color: #0065fc;
}

.icon i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 25px;
    border: 1px solid #deebff;
    margin: 0 10px 0 0;
}

.header-banniere p {
    font-size: 16px;
    font-weight: 500;
}


/* main */

.main {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}


/* hebergement */

#hebergement {
    width: 65%;
    background-color: #f2f2f2;
    border-radius: 18px;
}

.hebergements {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 95%;
    width: 92%;
    margin: auto;
}
.hebergements h2{
    font-size: 22px;
}

.hebergement-grille figure:hover {
    cursor: pointer;
    transform: scale(1.08);
}

.hebergement-grille a {
    width: 30%;
}

.hebergement-grille figure {
    border-radius: 20px;
    padding: 5px 5px 8px 5px;
    width: 100%;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 4px 4px 11px -6px #9a9a9a;
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

.hebergement-grille {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 0 50px 0;
    justify-content: space-between;
}

.figure-details p {
    font-size: 14px;
    color: black;
    margin-top: 5px;
}

.figure-details h2{
    margin-top: 10px;
    font-size: 16px;
}

.hebergement-marseille {
    padding: 5px 5px 5px 5px;
    margin: 0;
}

.figure-img {
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 110px;
}

.figure-img img {
    min-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.hebergements h3 {
    font-size: 12px;
    font-weight: bolder;
}

.hebergement-plus p {
    font-size: 18px;
    font-weight: bolder;
    margin: 0;
}

figure h2,
p {
    margin: 3px 0 2px 5px;
}

.hebergement-stars {
    font-size: 10px;
    margin-left: 3px;
}

.hebergement-stars i {
    margin-top:5px;
    font-size: 12px;
    color: #0065fc;
}

.hebergement-grille a:nth-child(1) .hebergement-stars i:nth-child(5) {
    color: #e4e4e4;
}

.hebergement-grille a:nth-child(3) .hebergement-stars i:nth-child(5) {
    color:#e4e4e4 ;
}

.hebergement-grille a:nth-child(4) .hebergement-stars i:nth-child(4) {
    color:#e4e4e4 ;
}

.hebergement-grille a:nth-child(4) .hebergement-stars i:nth-child(5) {
    color: #e4e4e4;
}

.hebergement-grille a:nth-child(5) .hebergement-stars i:nth-child(5) {
    color:#e4e4e4 ;
}

/* populaire */

#populaire {
    background-color: #f2f2f2;
    border-radius: 15px 15px 15px 15px;
    padding-right: 10px;
    padding-left: 10px;
    width: 30%;
}

.populaire-titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    margin-top: 18px;
    margin-bottom: 10px;
    font-size: 22px;
}
.populaire-titre h2{
    font-size: 22px;
    margin-left: 10px;
}

.populaire {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 10px;
}

.populaire-grille {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.populaire-grille figure {
    background-color: #ffffff;
    box-shadow: 4px 4px 11px -6px #9a9a9a;
    cursor: pointer; 
    display: flex;
    width: 95%;
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

.populaire-grille figure:hover {
    transform: scale(1.08);
}

.populaire-grille a {
    width: 95%;
}

.populaire-marseille {
    padding: 5px;
    border-radius: 20px;
    height: 140px;
    margin: 18px 0;
}

.populaire-details {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.populaire-details h3 {
    font-size: 16px;
    margin-top: 0;
    padding-right: 20px;
    padding-left: 10px;
}

.populaire-details p {
    font-size: 14px;
    margin-top: -30px;
    margin-left: 10px;
}

.fa-chart-line {
    color: black;
    padding-top: 0px;
    padding-right: 10px;
}

.populaire-marseille img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

.populaire-marseille a {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.populaire-stars {
    color: #0065fc;
    font-size: 10px;
    margin-left: 10px;
}

.populaire-grille a:nth-child(2) .populaire-stars i:nth-child(5) {
    color: #e4e4e4;
}

.populaire-grille a:nth-child(3) .populaire-stars i:nth-child(5) {
    color: #e4e4e4;
}


/* activité */

#activite {
    border-radius: 18px;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
}

.activites {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 550px;
}

.activites figure {
    margin: 0;
    width: 22%;
    height: 450px;
}

.activite-titre {
    margin: 15px 0;
}

#activite h2 {
    font-size: 20px;
    font-weight: bolder;
}

#activite p{
    padding: 10px 0 35px 20px;
    font-size: 16px;
    font-weight: bolder;
}

.activite-carte-simple {
    overflow: hidden;
    background-color: white;
    border: 2px #f2f2f2 solid;
    border-radius: 20px;
    box-shadow: 4px 4px 11px -6px #9a9a9a;
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

.activite-carte-simple:hover {
    transform: scale(1.04);
}

.activite-carte-simple img {
    height: 390px;
    object-fit: cover;
    width: 100%;
}

.activite-carte-double {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activite-carte-double2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.activite-carte1 img {
    width: 100%;
}

.activite-carte1-1 img {
    width: 100%;
}

.activite-moyenne-img img {
    height: 180px;
    max-width: 100%;
    object-fit: cover;
}

.activite-carte1 {
    background-color: white;
    border: 2px #f2f2f2 solid;
    border-radius: 20px;
    box-shadow: 4px 4px 11px -6px #9a9a9a;
    height: 240px;
    overflow: hidden;
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

.activite-carte1-1 {
    background-color: white;
    border: 2px #f2f2f2 solid;
    border-radius: 20px;
    box-shadow: 4px 4px 11px -6px #9a9a9a;
    height: 200px;
    overflow: hidden;
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

.activite-carte1:hover {
    transform: scale(1.08);
}

.activite-carte1-1:hover {
    transform: scale(1.08);
}

.activite-carte2{
    background-color: white;
    border: 2px #f2f2f2 solid;
    border-radius: 20px;
    box-shadow: 4px 4px 11px -6px #9a9a9a;
    overflow: hidden;
}

.activite-carte2 {
    height: 165px;
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

.activite-carte2:hover {
    transform: scale(1.08);
}
.activite-petite-carte2 img {
    height: 145px;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

.activite-petite-carte img {
    height: 110px;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

/* footer */

footer {
    margin-top: -90px;
    padding: 20px;
    background-color: #f2f2f2;
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.footer-titre {
    font-weight: bolder;
    margin-bottom: 15px;
    font-size: 18px;
}

footer ul {
    margin-top: 20px;
    margin-bottom: 30px;
    list-style: none;
}

footer ul:nth-child(3) {
    margin-right: 400px;
}

footer li {
    font-size: 16px;
    margin-top: 10px;
}


/* Medias  Query */


/* tablette */

@media (min-width: 870px) and (max-width: 1024px) {
    body {
        width: 100%;
        margin: auto;
    }
    #container {
        max-width: 95%;
        margin: auto;
    }
    .main {
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        width: 100%;
    }
   
    .header-top {
        position: relative;
        margin-right: 0;
        height: auto;
        margin-top: 20px;
        display: block;
        text-decoration: none;
    }
    .header-top .menu {
        text-align: center;
        flex-wrap: wrap-reverse;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .header-top nav {
        margin-top: -60px;
    }
    .header-top .menu li:nth-child(1) {
        padding-bottom: 10px;
        border-bottom: 2px solid #9a9a9a;
    }
    .header-top .menu li:nth-child(2) {
        padding-bottom: 10px;
        border-bottom: 2px solid #9a9a9a;
    }
    .header-top .menu li:nth-child(1):hover {
        transition: 0.3s;
        border-bottom: 2px solid #0065fc;
        color: #0065fc;
    }
    .header-top .menu li:nth-child(2):hover {
        transition: 0.3s;
        border-bottom: 2px solid #0065fc;
        color: #0065fc;
    }
    .header-top .menu li:nth-child(3) {
        margin-bottom: 30px;
        text-align: right;
    }
    .header-top .menu li {
        width: 50%;
    }
    .header-top .menu a {
        font-size: 18px;
    }
    .header-top .menu a:hover {
        border-top: none;
    }
    .icon-search {
        display: block;
        cursor: pointer;
        text-align: center;
        position: absolute;
        left: 295px;
        height: 25px;
        width: 25px;
        opacity: 1;
        color: white;
        background-color: #0065fc;
        border-radius: 10px 10px 10px 10px;
    }
    input.btn-search{
        font-size: 14px;
    }
    form .btn-reset {
        width: 40px;
        opacity: 0;
        font-weight: bolder;
        background-color: #0065fc;
        cursor: pointer;
        border-radius: 0px 10px 10px 0px;
    }
    .filtres {
        display: flex;
        align-items: center;
        margin: 25px 0 20px 0;
        padding: 10px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #hebergement {
        width: 100%;
        border-radius: 0 0 15px 15px;
    }
    .hebergement-marseille h3 {
        font-size: 14px;
        font-weight: bolder;
    }
    .hebergement-marseille p {
        font-size: 12px;
    }
    .hebergement-plus p {
        font-size: 18px;
        font-weight: bolder;
        margin: 0 0 30px 0;
    }
    .hebergement-grille {
        align-content: center;
    }
   
    .populaire-grille figure:hover {
        transform: none;
    }
    .hebergement-grille figure:hover {
        transform: none;
    }
    .activite-carte-simple:hover {
        transform: none;
    }
    .activite-carte1:hover {
        transform: none;
    }
    .activite-carte1-1:hover {
        transform: none;
    }
    .activite-carte2:hover {
        transform: none;
    }
    #populaire {
        height: auto;
        width: 100%;
        padding: 0;
        border-radius: 15px 15px 0 0;
    }
    .populaire {
        width: 95%;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 0 10px;
        margin: auto;
    }
    .populaire-details h3 {
        font-size: 14px;
        font-weight: bolder;
    }
    .populaire-details p {
        font-size: 12px;
    }
    .populaire-grille {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }
    .populaire-grille a:nth-child(1) {
        margin-left: 20px;
    }
    .populaire-grille figure {
        width: 90%;
    }
    .populaire-titre {
        padding-left: 10px;
    }
    .populaire-marseille img {
        width: 100%;
    }
    .activites {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        margin-top: 20px;
        margin-bottom: 60px;
        align-items: center;
    }

    footer ul:nth-child(3) {
        margin-right: 160px;
        margin-bottom: 0%;
    }
}


/* mobile */

@media (max-width: 870px) {
    body {
        width: 100%;
        margin: auto;
    }
    #container {
        max-width: 94%;
        margin: auto;
    }
    .main {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }
    #hebergement {
        background: none;
        width: 100%;
        border-radius: 18px;
        text-transform: none;
    }
    .header-top {
        position: relative;
        display: block;
        margin-bottom: 35px;
        height: auto;
    }
    .header-top nav {
        margin-top: -60px;
    }
    .header-top .menu li:nth-child(1) {
        padding-bottom: 10px;
        border-bottom: 2px solid #9a9a9a;
    }
    .header-top .menu li:nth-child(2) {
        padding-bottom: 10px;
        border-bottom: 2px solid #9a9a9a;
    }
    .header-top .menu li:nth-child(1):hover {
        transition: 0.3s;
        border-bottom: 2px solid #0065fc;
        color: #0065fc;
    }
    .header-top .menu li:nth-child(2):hover {
        transition: 0.3s;
        border-bottom: 2px solid #0065fc;
        color: #0065fc;
    }
    .header-top .menu li:nth-child(3) {
        text-align: right;
        margin-bottom: 30px;
    }
    .header-top .menu {
        text-align: center;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        text-decoration: none;
        flex-wrap: wrap-reverse;
    }
    .header-top .menu li {
        width: 50%;
    }
    .header-top .menu a {
        font-size: 18px;
    }
    .header-top .menu a:hover {
        border-top: none;
    }
    .recherche {
        margin-left: 50px;
    }
    .icon-search {
        cursor: pointer;
        display: block;
        position: absolute;
        left: 280px;
        opacity: 1;
        margin-left: 50px;
        color: white;
        height: 25px;
        width: 25px;
        text-align: center;
        background-color: #0065fc;
        border-radius: 10px 10px 10px 10px;
    }
    input.btn-search{
        font-size: 16px;
    }
    form .btn-reset {
        width: 40px;
        opacity: 0;
        font-weight: bolder;
        background-color: #0065fc;
        cursor: pointer;
        border-radius: 0px 10px 10px 0px;
    }
    .filtres {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        margin: 25px 0 20px 0;
    }
    .filtres-selection{
        margin: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    .hebergements h3 {
        font-size: 16px;
        font-weight: bolder;
    }
    .figure-details p {
        font-size: 14px;
    }
    .hebergement-grille {
        text-transform: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        margin: 30px 0 50px 0;
        align-content: center;
    }
    .hebergement-grille figure {
        padding: 5px;
        width: 100%;
        margin-bottom: 20px;
        background-color: white;
        box-shadow: 2px 4px 15px -1px #9a9a9a;
        border: 1px white solid;
        border-radius: 20px;
        transform: scale(1);
        transition: 0.3s ease-in-out;
    }
   
    .hebergement-grille a{
        width: 100%;
        margin: auto;
    }
   
    #populaire {
        padding: 0;
        background-color: #f2f2f2;
        border-radius: 15px 15px 15px 15px;
        width: 100%;
        text-transform: none;
    }
    .populaire {
        width: 100%;
        background-color: #f2f2f2;
        margin: 0;
        padding: 0;
        border-radius: 15px;
    }
    .populaire-details h3 {
        font-size: 16px;
    }
    .populaire-details p {
        font-size: 14px;
    }
    .populaire-titre {
        padding-left: 10px;
    }
    .populaire-marseille a {
        display: flex;
        flex-direction: row;
        height: 100%;
        justify-content: flex-start;
    }
    .populaire-grille figure:hover {
        transform: none;
    }
    .hebergement-grille figure:hover {
        transform: none;
    }
    .activite-carte-simple:hover {
        transform: none;
    }
    .activite-carte1:hover {
        transform: none;
    }
    .activite-carte1-1:hover {
        transform: none;
    }
    .activite-carte2:hover {
        transform: none;
    }
    .activites {
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: auto;
    }
    .activites figure {
        width: auto;
        margin-bottom: 20px;
    }
   
    .activites .activite-carte-simple {
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
    }
    .activite-grande-carte {
        display: flex;
        overflow: hidden;
        flex-direction: column;
        height: 220px;
        width: 100%;
    }
    .activite-grande-img img {
        width: 100%;
        object-fit: cover;
    }
    .activite-grande-img {
        display: flex;
        align-items: center;
        overflow: hidden;
    }
   
    .activite-carte-double2 {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        align-items: center;
    }
    .activite-carte-double {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .activite-moyenne-img img {
        height: 150px;
    }
    .activite-grande-carte p {
        font-size: 16px;
        padding-bottom: 10px;
    }
    .activite-moyenne-carte .activite-carte-titre {
        padding-top: 0;
    }
    .activite-carte1 {
        margin-bottom: 20px;
        width: 100%;
        height: 200px;
    }
    .activite-petite-img img {
        height: 150px;
    }
    .activite-petite-carte .activite-carte-titre {
        padding-top: 0;
        font-size: 16px;
    }
    .activite-carte1-1 {
        margin-bottom: 20px;
        width: 100%;
        height: 200px;
    }
    .activite-carte2 {
        margin-bottom: 20px;
        width: 100%;
        height: 200px;
    }
    .activite-petite-carte p {
        padding: 10px 0 30px 15px;
        font-size: 20px;
    }
    .activite-moyenne-carte p {
        padding: 10px 0 30px 15px;
        font-size: 16px;
    }
    footer {
        background-color: #f2f2f2;
        display: flex;
        align-items: flex-start;
        margin: 0;
        bottom: 0px;
        left: 0px;
        width: 100%;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .footer-titre {
        font-size: 16px;
    }
    footer li {
        font-size: 14px;
        padding-bottom: 10px;
    }
    footer ul:nth-child(3) {
        margin-right: 160px;
        margin-bottom: 0%;
    }
}